@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Agrandir";
    src: url(./fonts/PPAgrandir-GrandHeavy.otf);
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

section {
  overflow: hidden;
}
